@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


:root {
    --bg-main: #0F0F17;
    --letters: #FFFFFF;
    --highlights: #00F6FF;
    --bg-secondary: #1B1B33;
    --white-bg: #D9D9D9;

    --font: "Space Grotesk" ,sans-serif;
}


body {
    background-color: var(--bg-main);
    flex-direction: column;
    height: 100%;
    display: flex;
    margin: 0%;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
}

h1, h2, h3, legend, label, nav, p, a {
    color: var(--letters);
    font-family: var(--font);
}


@media (max-width: 1440px) and (min-width: 1024px) {
    main {
        section {
            padding-top: 200px;
        }
    }
}
