.hero-section {
    letter-spacing: -3%;
    overflow: hidden;
    
    h1, h2 {
        padding: 0%;
        margin: 0%;
    }

    button {
        color: var(--bg-main);
        background-color: var(--highlights);
        border: unset;
        font-weight: 700;
        font-family: var(--font);
        transition: 0.1s;
    }

    button:hover {
        scale: 1.1;
    }

    button:active {
        background-color: var(--bg-main);
        color: var(--highlights);
    }
}

@media (max-width: 1440px) and (min-width: 1024px) {
    .hero-section {
        height: 100dvh;
        width: 100dvw;
        margin-top: 230px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        
        button {
            width: 20%;
            font-size: 18px;
            padding: 2% 0%;
            margin-top: 5%;
            border-radius: 5px;
        }

    }

    h1 {
        font-size: 43px;
    }
}


@media (max-width: 1024px) and (min-width:720px) {
    .hero-section {
        
        height: 100dvh;
        width: 100dvw;
        margin-top: 200px;

        h1 {
            font-size: 37px;
        }

        h2 {
            font-size: 20px;
        }


        button {
            width: 20%;
            font-size: 18px;
            padding: 2% 0%;
            margin-top: 5%;
            border-radius: 5px;
        }
    }
}

@media (max-width: 770px) {
    
    .hero-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 440px) {
    
    .hero-section {
        display: flex;
        flex-direction: column;
        height: 100dvh;
        align-items: center;
        justify-content: center;
        text-align: center;
        row-gap: 5px;
    }

    .hero-section h2 {
        font-size: 14px;
        padding: 0% 5%;
    }

    .hero-section button {
        margin-top: 3%;
        padding: 3% 5%;
        border-radius: 10px;
        transition: 1s ease-in-out;
        font-weight: bolder;
    }

    .hero-section button:active {
        background-color: var(--white-bg);
    }

}

@media (max-width: 440px) {
    .hero-section {
        margin-top: unset;
    }
}