
.who-iam-section {
    height: 100dvh;
    padding: 10% 5% 0% 5%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

.who-iam-section h2 {
    text-align: center;
}

.who-iam-card-container {
    height: 50%;
    width: 100%;
    display: flex;
    margin-top: 5%;
    justify-content: space-evenly;
}

#who-iam-card-1 {
    left: 50%;
    background-color: #D9D9D9;
}

.who-iam-card {
    background-color: var(--bg-secondary);
    border-radius: 10px;
    transition: 0.5s ease-in-out ;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}


@media (max-width:1440px) {
    .who-iam-section legend {
        width: 40%;
        justify-self: center;
    
    }
    
    .who-iam-card-container {
        margin-top: 5%;
        column-gap: 20px;
        width: 80%;
    }

    .who-iam-card {
        height: 200px;
        width: 120px;
    }
}

@media (max-width: 770px) {
    .who-iam-section {
        height: 120dvh;
    }

    .who-iam-section legend {
        width: 60%;
    }

    .who-iam-card {
        background-color: var(--bg-secondary);
        height: 270px;
        border-radius: 10px;
        width: 170px;
        transition: 0.5s ease-in-out ;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    }


}

@media (max-width: 440px) {
    .who-iam-section {
        height: 100dvh;
        margin-top: 20%;
        margin-bottom: 40%;
    }

    .who-iam-section legend {
        width: 100%;
    }

    .who-iam-card {
        background-color: var(--bg-secondary);
        height: 270px;
        border-radius: 10px;
        position: absolute;
        width: 170px;
        transition: 0.5s ease-in-out ;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    }

    #who-iam-card-1 {
        margin-top: 5%;
        left: 40%;
        background-color: #D9D9D9;
    }
}

@media (max-width:320px) {
    
    .who-iam-card {
        width: 50%;
        height: 50%;
        width: 50%;
        max-width: 130px;
        max-height: 200px;
    }

}